<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/6a47118f88.js" crossorigin="anonymous"></script>
</head>
<body>
<%= yield %>
<script>
    const errors = document.querySelector(".notice");
    var is_present = <%= flash.present? %>;
    if (is_present) {
        setTimeout(() => errors.remove(), 1000);
    }
</script>
</body>
</html>
